env:
  jasmine: true
globals:
  loadQmlFile: true
  prefixedQmlLoader: true
  loadQml: true
  setupDivElement: true
  customMatchers: true
  sendEvent: true
  Qt: true
rules:
  block-scoped-var: 2
  no-var: 0
  prefer-arrow-callback: 0
  prefer-rest-params: 0
  prefer-spread: 0
  prefer-template: 0
  object-shorthand: 0
  no-invalid-this: 0
  no-unused-vars: 0
